In [61]:
import pandas as pd
import numpy as np

# --
# Read Data
# --

In [62]:
data = pd.read_csv("datasets/weatherAUS.csv")
data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,12/1/2008,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,12/2/2008,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,12/3/2008,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,12/4/2008,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,12/5/2008,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

# --
# Data Preprocessing
# --

In [63]:
# data = np.concatenate((X, np.reshape(y, (-1, 1))), axis=1)
t = (data.dtypes == "float64")
num_cols = list(t[t].index)

# Ada Berapa Data Null di Column Numeric?
totalNull = 0
for i in num_cols:
    # print(i, data[i].isnull().sum())
    break
    

# Fill NA
for i in num_cols:
    data[i].fillna(data[i].median(), inplace=True)
    
# data.info()

In [64]:
dataNP = data.to_numpy()
X = dataNP[:, 0:22]
y = dataNP[:, 22]

In [65]:
# Splitting Training and Testing
from sklearn.model_selection import train_test_split



xtrain, xtest, ytrain, ytest = (train_test_split(X, y,test_size = 0.4,random_state=1))

print(xtrain.shape)
print(xtest.shape)
print(ytrain.shape)
print(ytest.shape)

(87276, 22)
(58184, 22)
(87276,)
(58184,)

In [66]:
# IQR Detecting Outlier
 import numpy as np 
 
 data = np.concatenate((xtrain, np.reshape(ytrain, (-1, 1))), axis=1)
outliner = 0
for out in range(22):
  colData = data[:,out]

  q1,q3 = np.percentile(colData,[25,75])
  iqr = q3-q1
  lb,ub = q1-1.5*iqr, q3+1.5*iqr

  outliers = data[np.where((colData < lb) | (colData > ub))]
  outliner += len(outliers)

  print("Outliers in Column ", out, " is ", len(outliers))

  data = data[np.where((colData >= lb) & (colData <= ub))]

print("Detected total = ", outliner, " outliers")

pd.DataFrame(data)

xtrain = data[:,0:22]
ytrain = data[:,22]

print(xtrain.shape)
print(ytrain.shape)

IndentationError: unexpected indent (<ipython-input-66-c15167cb6518>, line 2)

In [ ]:
# Standard Deviation Detecting Outlier

In [ ]:
# Standard Scaler
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(original_data)
original_data = scaler.transform(original_data)

In [ ]:
# MinMax Scaler
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(-1,1))
scaler.fit(original_data)
original_data = scaler.transform(original_data)